extends layout

block content
  div.content
    div.main=state?'Yes': 'No'
    if(!state)
      div.predict
        |We predict it will be open in&nbsp;
        strong=when
        |&nbsp; for&nbsp;
        strong=time
